<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Acho que o nome será esse mesmo: NLW #2 - IOB  -->
		<title> IOB | Sua plataforma de bicos profissionais online </title>

		<link rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="./css/master.css">
		<link rel="stylesheet" href="./css/partials/page_landing.css">

	</head>
	<body id="page-landing">

		<div id="container">

			<div class="logo-container">
				<div class="logo">
					<img src="./images/iob_logo.svg" alt="Logo IOB"><h1>IOB</h1>
				</div>
				<h2>Sua plataforma de <s>bicos</s> <u>profissionais</u> online</h2>
			</div>

			<img class="hero-image" src="./images/hero_landing.svg" alt="Plataforma de Profissionais">

			<div class="buttons-container">
				<a class="find-work" href="/find_worker">
					<img src="./images/find_icon.png" alt="Encontrar Profissionais">
					Encontrar Profissionais
				</a>
		
				<a class="post-work" href="/post_service">
					<img src="./images/post_icon.png" alt="Oferecer Serviços">
					Oferecer Serviço
				</a>
			</div>

			<p class="total-connections">
				Total de 281 profissionais já cadastrados
				<img src="./images/workers_icon.png" alt="Profissionais">
			</p>

		</div>
	</body>
</html>

<!--WvpQGQe$N3Tx1XwcASFv-->
