<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Acho que o nome será esse mesmo: NLW #2 - IOB  -->
    <title>IOB | Tá no caminho certo!</title>

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./images/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./images/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="./images/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/master.css" />
    <link rel="stylesheet" href="./css/partials/page_post_service.css" />
    <link rel="stylesheet" href="./css/partials/forms.css" />
    <link rel="stylesheet" href="./css/partials/header.css" />

    <script src="./scripts/addField.js" defer></script>
  </head>
  <body id="page-post-service">
    <div id="container">
      <header class="page-header">
        <div class="top-bar-container">
          <a href="/">
            <img src="./images/back.svg" alt="Voltar" />
          </a>
          <img src="./images/iob_logo.svg" alt="Logo" />
        </div>

        <div class="header-content">
          <strong>Um bico profissional a mais é sempre bom, né não?</strong>
          <p>O primeiro passo, é preencher esse formulário de inscrição</p>
        </div>
      </header>

      <main>
        <form action="/save_post_service" id="create-service" method="POST">
          <fieldset>
            <legend>Seus Dados</legend>

            <div class="input-block">
              <label for="name">Nome Completo</label>
              <input class="name" id="name" name="name" required />
            </div>

            <div class="input-block">
              <label for="whatsapp"
                >Whatsapp <small>(somente números)</small></label
              >
              <input
                class="whatsapp"
                id="whatsapp"
                name="whatsapp"
                type="number "
                required
              />
            </div>
            <div class="select-block">
              <label for="sex">Sexo</label>
              <select id="sex" name="sex">
                <option value="" disabled="" hidden="" required
                  >Selecione uma opção</option
                >
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
              </select>
            </div>
            <div class="input-block">
              <label for="city">Cidade</label>
              <input class="city" id="city" name="city" type="text" required />
            </div>
            <div class="select-block">
              <label for="state">Estado</label>
              <select id="state" name="state">
                <option value="" disabled="" hidden="" required
                  >Selecione uma opção</option
                >
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
              </select>
            </div>
            <div class="input-block">
              <label for="avatar"
                >Link da sua foto <small>(comece com https://)</small></label
              >
              <input class="avatar" id="avatar" name="avatar" type="url" />
            </div>
            <div class="textarea-block">
              <label for="bio">Biografia</label>
              <textarea class="bio" id="bio" name="bio" required></textarea>
            </div>
          </fieldset>

          <fieldset>
            <legend>Sobre o Serviço</legend>

            <div class="select-block">
              <label for="profession">Profissão</label>
              <select id="profession" name="profession">
                <option value="" disabled="" hidden=""
                  >Selecione uma opção</option
                >
                {% for profession in professions %}
                <option value="{{loop.index}}">{{profession}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-block">
              <label for="cost"
                >Custo da sua hora <small>(Opcional)<br />(R$)</small></label
              >
              <input class="cost" id="cost" name="cost" type="number" />
            </div>
          </fieldset>

          <fieldset id="schedule-itens">
            <legend>
              Horários Disponíveis
              <button type="button" id="add-time">+ Novo Horário</button>
            </legend>

            <div class="schedule-item">
              <div class="select-block">
                <label for="weekday">Dia da Semana</label>
                <select name="weekday[]" id="weekday" required>
                  <option value="" disabled="" hidden=""
                    >Selecione uma opção</option
                  >
                  {% for weekday in weekdays %}
                  <option value="{{loop.index0}}">{{weekday}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-block">
                <label for="time_from">Das</label>
                <input type="time" name="time_from[]" />
              </div>
              <div class="input-block">
                <label for="time_to">Até</label>
                <input type="time" name="time_to[]" />
              </div>
            </div>
          </fieldset>
        </form>
        <footer>
          <p>
            <img src="./images/warning.png" alt="Importante" />
            Importante! <br />
            Preencha todos os dados.
          </p>

          <button type="submit" form="create-service">Salvar Casdastro</button>
        </footer>
      </main>
    </div>
  </body>
</html>
